.head {
    background-color: #1B5299;
}

.body{
    background-image: url(https://i.pinimg.com/736x/d3/b7/0a/d3b70a124383713aa3c30ab7bbca2d1c.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.form-control:disabled {
    background-color: #f8f9fa;
}

.button-type {
    background-color: #1B5299;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

